################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/asset-proof-of-concept-demo_CPlusPlus/v15/ipch/AutoPCH
/.vs/asset-proof-of-concept-demo_CPlusPlus/v15
/.vs/Supercharger/asset-proof-of-concept-demo_CPlusPlus
/Debug
/cereal-master.zip
/Header.h
/.vs
/x64/Debug
/CppProperties.json
/ArchiveStorage
/StorageDir
/enc_temp_folder/be592a015ac01df71f24fc5ef5e9e5
