################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/asset-proof-of-concept-demo_CPlusPlus/v15/ipch/AutoPCH
